@font-face {
  font-family: 'BM Euljiro 10 years later';
  src: url("../font/BMEuljiro10yearslater.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'BM Euljiro 10 years later';
}

/* common.css */
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
}

header > div {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header > div a {
  color: #fff;
}

header > div h1 a {
  background: url("../img/logo.png") no-repeat;
  font-size: 0;
  width: 96px;
  height: 36px;
  display: inline-block;
}

header > div nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

header > div nav a {
  display: inline-block;
  padding: 0 2%;
}

header > div .trigger-menu {
  width: 26px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 30%;
  cursor: pointer;
  display: none;
}

header > div .trigger-menu span {
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

header > div .trigger-menu span:nth-child(1) {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

header > div .trigger-menu span:nth-child(3) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.services {
  padding: 100px 0;
  text-align: center;
  margin: 0 auto;
}

.services h2 {
  font-size: 3rem;
}

.services h2 small {
  display: block;
  font-weight: normal;
  font-size: 1rem;
}

.services ul {
  width: 70%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services ul li {
  width: 30%;
  margin-bottom: 5%;
}

.services ul li p > img {
  width: 100%;
}

.services ul li p:nth-child(2) {
  padding: 30px;
}

.services ul li p:nth-child(2) > b {
  display: block;
}

.services ul li p:nth-child(2) > em {
  font-style: normal;
}

.about {
  padding: 100px 0;
  margin: 0 auto;
  width: 70%;
  background-color: #f2f2f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about p img {
  width: 100%;
}

.about div {
  text-align: left;
}

.about div h2 {
  font-size: 2rem;
}

.about div p {
  font-size: 1rem;
}

.about div ul li li > p {
  background-color: #fed136;
  text-align: right;
  border: 1px solid #000;
}

.about div ul li li > p:nth-child(1) {
  width: 90%;
}

.about div ul li li > p:nth-child(2) {
  width: 80%;
}

.about div ul li li > p:nth-child(3) {
  width: 90%;
}

.about div ul li li > p:nth-child(4) {
  width: 70%;
}

.contact {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.contact h2 {
  font-size: 3rem;
}

.contact h2 small {
  display: block;
  font-weight: normal;
  font-size: 1rem;
}

.contact div {
  margin-top: 40px;
}

.contact div input {
  padding: 18px 40px;
  border: none;
  width: 30%;
  vertical-align: middle;
}

.contact div a {
  background: #fed136;
  padding: 16px 40px;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
}

footer {
  padding: 100px 0;
  text-align: center;
}
/*# sourceMappingURL=sub.css.map */